<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>

    <!--微店用户中心读库 测试-->
    <add name="WeChatDBRead" connectionString="server=55936bea3d360.gz.cdb.myqcloud.com;Port=3754;userid=root;password=Tan520521;database=WeChatServiceDB;charset=utf8;Allow User Variables=True;Ignore Prepare=true;" providerName="MySql.Data.MySqlClient" />

    <!--微店用户中心写库 测试-->
    <add name="WeChatDBWrite" connectionString="server=55936bea3d360.gz.cdb.myqcloud.com;Port=3754;userid=root;password=Tan520521;database=WeChatServiceDB;charset=utf8;Allow User Variables=True;Ignore Prepare=true;" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>