<?xml version="1.0" encoding="utf-8"?>

<!--
  有关如何配置 ASP.NET 应用程序的详细信息，请访问
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
  <connectionStrings>

    <!--微店用户中心读库 测试-->
    <add name="WeChatDBRead" connectionString="server=55936bea3d360.gz.cdb.myqcloud.com;Port=3754;userid=root;password=Tan520521;database=WeChatServiceDB;charset=utf8;Allow User Variables=True;Ignore Prepare=true;" providerName="MySql.Data.MySqlClient" />

    <!--微店用户中心写库 测试-->
    <add name="WeChatDBWrite" connectionString="server=55936bea3d360.gz.cdb.myqcloud.com;Port=3754;userid=root;password=Tan520521;database=WeChatServiceDB;charset=utf8;Allow User Variables=True;Ignore Prepare=true;" providerName="MySql.Data.MySqlClient" />

  </connectionStrings>
  <appSettings>
    <add key="aspnet:UseTaskFriendlySynchronizationContext" value="true" />
    <add key="AppID" value="wxfdf687bed213398e"/>
    <add key="AppSecret" value="22644be8ac696595bd42f351546a4c2c"/>
    <add key="imgStatic" value="http://7u2hto.com1.z0.glb.clouddn.com/"/>
    <add key="BackDomain" value="wei.8qqt.com"/>
    <add key="WeixinID" value="gh_8a2acb93c419" />

  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>

</configuration>
