<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="QiushibaikeDataServiceBinding"  maxReceivedMessageSize="1073741824"  receiveTimeout="00:02:00"  sendTimeout="00:02:00">
          <security mode="None">
            <transport clientCredentialType="None"/>
          </security>
          <readerQuotas maxStringContentLength ="1073741824" maxArrayLength ="1073741824" />
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8518/QiushibaikeDataService" binding="netTcpBinding"
                bindingConfiguration="QiushibaikeDataServiceBinding"
                contract="Tzq.DataService.Contract.IQiushibaikeDataService"
                name="QiushibaikeDataServiceEndpoint"/>
    </client>
  </system.serviceModel>
</configuration>